.explorer-item{
    height: 100%;
    width: 60px;
    background: black;
    color: white;


}
.explorer-item ul{
    height: 100%;
    
}
.explorer-item ul li{
    text-align: center;
    height: 10%;
}
.explorer-item ul li i{
    font-size: 30px;
    margin-top: 2rem;
    
}
.explorer-list{
  
    overflow: auto;
    background: #0f192a;
    color: #e1e1bb;
    display:flex;
    min-width: 239px;
    user-select: none;

    
}
.explorer-list .file-list{
    width: 96%;
    overflow-y: auto;
    list-style: none;
    padding-left: 5px;
    padding-top: 5px;
    overflow-x:hidden;
}
.explorer-list .slider{
    width: 40px;
    height:100%;
    cursor:col-resize;
}
.explorer-item .file-list::-webkit-scrollbar {
    width: 2px;
}
.explorer-item .file-list::-webkit-scrollbar-button {
    background: #ccc
}
.explorer-item .file-list::-webkit-scrollbar-track-piece {
    background: #888
}
.explorer-item .file-list::-webkit-scrollbar-thumb {
    background: #eee
}
.explorer-list .file-list li{
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
}
/* .explorer-list .file-list .folder:hover{
    background: lightblue;
} */
.explorer-list .file-list .child{
    margin-left: 15px;
    list-style: none;
    border-left: 1px solid #17a2b8;
    padding-left: 5px;
}
.active{
    background: lightblue;
}



